# Copy this to .env for local testing
GOOGLE_CLOUD_PROJECT= <YOUR_PROJECT_ID>
GOOGLE_CLOUD_LOCATION= <YOUR_REGION>
GOOGLE_GENAI_USE_VERTEXAI=true

# Only needed if using API key mode instead of Vertex AI
# GOOGLE_GENAI_USE_VERTEXAI=false
# GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY_HERE

FIREBASE_PROJECT_ID=
SKIP_TOKEN_VERIFY=false
